{% extends "::layout.html.twig" %}

{% block body %}

<h4>Importé avec succès</h4>

<p>
  {% for message in app.session.flashbag.get('notice') %}
  	<div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
</p>

<p>
<a href="{{ path('import_csv_home') }}" class="btn btn-default">
  <i class="glyphicon glyphicon-chevron-left"></i>
  Retour imports
</a>
</p>

{% endblock %}